<div class="col-sm-12">
  <h2><%= @article.title %></h2>
  <p class="small">
    <%= @article.author.name %>
  </p>
  <p>
    <%= @article.body %>
  </p>

  <%= link_to "Back", articles_path(@articles) %>

</div>