@import "bootstrap";
// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body,h3 {
  margin: 0;
  font-size: 16px
}

.custom-nav {
  background-color: #eaeaea;
  border-bottom: 1px solid #1e1e1e;
  padding: .6em;
}