<!DOCTYPE html>
<html>
<head>
  <title>SinScaffold</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="col-sm-12 header">
  <div>
    <h3>Periodico <strong>MakeItReal</strong></h3>        
  </div>  
</div>

<%= yield %>

<div class="col-sm-12 footer">
  <div>
    © Todos los derechos reservados.
  </div>
</div>

</body>
</html>
